* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 1000px;
    background-color: #ccc;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
}


.item{
    background-color: #f1425d;
    padding: 30px;
    margin: 30px;
    color: #fff;
    font-size: 40px;


}

.i2 {
    height: 200px;
    /*
    flex-basis: 300px;
    flex-shrink: 0;
    */
    flex: 0 1 300px  /* flex-grow flex-shrink flex-basis */

}

.i3 {
    order: 2;
    flex: 1;
}

.i4 {
    /*font-size: 70px;*/
    /*align-self: flex-end;*/
    order: -2;
}